<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>description</th>
      <th>location</th>
      <th>category</th>
    </tr>
  </thead>
  <tbody>
    {{#each poilist.features}}
      <tr>
        <td>
          {{description}}
        </td>
        <td>
          {{location}}
        </td>
        <td>
          {{category}}
        </td>
         <td>
          <a href="/poilist/{{../poilist._id}}/deletefeature/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>